body {
    background: linear-gradient(#ffb6c2, #FBE7C6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    font-size: 80px;
}

table,
th,
td {
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    text-align: center;
}

th {
    text-align: center;
    background-color: #91f0d0;
    font-size: large;
}

td {
    background-color: #f3b7d5;
    padding: 5px;
}

code {
    font-family: "Courier New", Courier, monospace;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 10px;
    padding: 3px;
    margin: 3px;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: #f088bc;
    font-style: italic;
}